{% extends "base.html" %}
{% block title %}MBus Voice Setup{% endblock %}
{% block heading %}Welcome to MBus Voice Setup{% endblock %}
{% block content %}
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.js"></script>
	<script src={{url_for('static', filename='js/index.js')}} ></script>
	<p>This form will be used for setting your favorite home and destination stops. You will have the ability to provide an alias for these stops as well. Once your first home stop and destination stop is set, you will be able to ask Alexa “When is the next bus coming?”, and Alexa will be able to default the home and destination for you and respond appropriately. </p>
	<p>Please use the map to locate your favorite home and destination stops and copy the stop name into the stop name field for home or destination. You can then assign an alias for your stops if you so choose. Some examples of aliases for destination stops could be home, work, class names, etc. If you do not provide an alias, we will provide an basic alias for you. </p>
	<p>Please fill out the form below.</p>
	<iframe src="http://mbus.doublemap.com/map/" height="650" width="1000"></iframe>
	<div class="form-group" style="width:300px;">
	<form destination="{{ url_for('post_favorites.create_favorite') }}" id="newHome">
	 	<label class="control-label" for="focusedInput">Home Stop</label>
 		<input class="form-control" name="stopName" list="systemStops">
	 	<label class="control-label" for="focusedInput">Home Alias</label>
 		<input class="form-control" name="stopAlias" type="text">
 		<input type="hidden" name="alexaId" value={{alexaID}}>
	</form>
	<input type="button" value="Submit" id="homeSubmit" class="btn btn-default">
	<form destination="{{ url_for('post_favorites.create_favorite') }}" id="newDestination">
	 	<label class="control-label" for="focusedInput">Destination Stop</label>
 		<input class="form-control" name="stopName" list="systemStops">
	 	<label class="control-label" for="focusedInput">Destination Alias</label>
 		<input class="form-control" name="stopAlias" type="text">
  		<input type="hidden" name="alexaID" value={{alexaID}}>
 		<input type="checkbox" name="primary" value="primary" class="checkbox">Make primary destination?<br>
	</form>
	<input type="button" value="Submit" id="destinationSubmit" class="btn btn-default">
	<datalist id="systemStops">
		{% for stopname in stop_names %}
			<option value="{{stopname}}"></option>
		{% endfor %}
	</datalist>
	</div>
	<div>
	<h2>Current User Stops</h2>
	<table class="table table-striped table-hover ">
		<thead>
			<tr>
				<th>Stop Alias</th>
				<th>Stop Name</th>
				<th>Stop Type</th>
			</tr>
		</thead>
		<tbody>
		{% for stop in user_stops %}
			{% if stop[0] == primary %}
				<tr class="success">
			{% else %}
				<tr>
			{% endif %}
				<th>{{stop[0]}}</th>
				<th>{{stop[1]}}</th>
				<th>{{stop[2]}}</th>
			</tr>
		{% endfor%}
		</tbody>
	</table>
	<form>
	 	<label class="control-label" for="focusedInput">Current Primary Destination (Alias)</label>
 		<input class="form-control" id=primaryDestination type="text" list="userStops">
 		<input type="hidden" name="alexaID" value={{alexaID}}>
		<input type="submit" name="Destination Submit" class="btn btn-default">
	</form>
	<form>
	 	<label class="control-label" for="focusedInput">Delete Destination (Alias)</label>
 		<input class="form-control" id=deleteDestination type="text" list="userStops">
 		<input type="hidden" name="alexaID" value={{alexaID}}>
		<input type="submit" name="Delete Stop" class="btn btn-default">
	</form>
	<datalist id="userStops">
		{% for stopname in user_stops %}
			<option value="{{stopname[0]}}"></option>
		{% endfor %}
	</datalist>
	</div>
{% endblock %}
