<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://bootswatch.com/cerulean/bootstrap.min.css">
    <link rel="stylesheet" href={{url_for("static", filename="css/styles.css")}}>
    <link rel="shortcut icon" href={{url_for("static", filename="images/favicon.ico")}}>
    <meta name="description" content="Blue Bus Alexa Skill for University of Michigan students">
    <meta name="keywords" content="MBus Voice Blue Bus Alexa Skill University of Michigan UMich EECS 441">
    <meta name="author" content="MBus Voice">
    <title>Blue Bus - {% block title %}{% endblock %}</title>
    {% block scripts %}{% endblock %}
</head>
<header>
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container-fluid">
			{% block navbar %}{% endblock %}
			<ul class="nav navbar-nav navbar-right">
				<li><a href="https://pts.umich.edu/transit/routes.php" target="_blank">Find a Stop</a></li>
				<li><a href="https://google.com" target="_blank">Alexa</a></li>
				<li><a href="https://github.com/JonnyPugh/MBusVoice" target="_blank">Github</a></li>
			</ul>
		</div>
	</nav>
	<br></br>
	<center class="panel panel-default panel-body container">
    	{% block heading %}{% endblock %}
    </center>
</header>
<body>
    {% block content %}{% endblock %}
</body>
<footer>
	<center>
		<h4>Produced by MBus Voice</h4>
		<a href="http://soloway.pbworks.com/w/page/114836017/MBus%20Voice" target="_blank">
			<img src={{url_for("static", filename="images/logo.png")}}>
		</a>
	</center>
</footer>
</html>
