<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://bootswatch.com/cerulean/bootstrap.min.css">
    <link rel="shortcut icon" href={{url_for("static", filename="images/favicon.ico")}}>
    <meta name="description" content="Blue Bus Alexa Skill for University of Michigan students">
    <meta name="keywords" content="MBus Voice Blue Bus Alexa Skill University of Michigan UMich EECS 441">
    <meta name="author" content="MBus Voice">
    <title>Blue Bus - {% block title %}{% endblock %}</title>
    {% block scripts %}{% endblock %}
</head>
<header>
	<center class="panel panel-default panel-body container">
    	{% block heading %}{% endblock %}
    </center>
</header>
<body>
    {% block content %}{% endblock %}
</body>
<footer>
	<center>
		Produced by MBus Voice
		<br></br>
		<img src={{url_for("static", filename="images/logo.png")}}>
	</center>
</footer>
</html>
