{% extends "base.html" %}
{% block title %}Preferences{% endblock %}
{% block scripts %}
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.js"></script>
{% endblock %}
{% block navbar %}
	<ul class="nav navbar-nav navbar-left">
		<li><a href="#map">Map</a></li>
		<li><a href="#home">Home</a></li>
		<li><a href="#destination">Destination</a></li>
		<li><a href="#groups">Groups</a></li>
	</ul>
{% endblock %}
{% block heading %}
	<h1>Welcome to Blue Bus Setup</h1>
{% endblock %}
{% block content %}
	<center>
		<iframe src="https://mbus.doublemap.com/map/" height="650" width="80%" scrolling="no" id="map"></iframe>
	</center>
	<br></br>
	<div class="panel panel-default panel-body container">
		<a href="#" class="btn btn-primary btn-lg">Edit Preferences</a>
		<div class="well well-lg">
			<h3>How long does it take you to get to the bus stop?</h3>
			<h4 id="time"></h4>
		</div>
		<div class="well well-lg" id="home">
			<h3>Where do you get on the bus?</h3>
		</div>
		<div class="well well-lg" id="destination">
			<h3>Where do you get off the bus?</h3>
		</div>
		<div class="well well-lg" id="groups">
			<h3>What do you call bus stops?</h3>
		</div>
	</div>
	<datalist id="systemStops">
	</datalist>
{% endblock %}
