{% extends "base.html" %}
{% block title %}Preferences{% endblock %}
{% block scripts %}
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.js"></script>
	<script>
		var apiUrl = "{{url_for('main.index')}}" + "api/v1/";
		var userId = "{{ID}}";
		var imageUrl = "{{url_for('static', filename='images/')}}";
	</script>
	<script src={{url_for('static', filename='js/index.js')}}></script>
{% endblock %}
{% block navbar %}
	<ul class="nav navbar-nav navbar-left">
		<li><a href="#map">Map</a></li>
		<li><a href="#home-div">Home</a></li>
		<li><a href="#destination-div">Destination</a></li>
		<li><a href="#groups-div">Groups</a></li>
	</ul>
{% endblock %}
{% block heading %}
	<h1>Welcome to Blue Bus Setup</h1>
{% endblock %}
{% block content %}
	<center>
		<iframe src="https://mbus.doublemap.com/map/" height="650" width="80%" scrolling="no" id="map"></iframe>
	</center>
	<br></br>
	<div class="panel panel-default panel-body container">
		<div id="buttons" class="preferences"></div>
		<div class="well well-lg">
			<h3>How long does it take you to get to the bus stop?</h3>
			<div id="time-div" class="preferences"></div>
		</div>
		<div class="well well-lg">
			<h3>Where do you get on the bus?</h3>
			<div id="home-div" class="preferences list-group">
				<span></span>
			</div>
		</div>
		<div class="well well-lg">
			<h3>Where do you get off the bus?</h3>
			<div id="destination-div" class="preferences list-group">
				<span></span>
			</div>
		</div>
		<div class="well well-lg">
			<h3>What do you call bus stops?</h3>
			<div id="groups-div" class="preferences list-group">
				<span></span>
			</div>
		</div>
	</div>
	<datalist id="systemStops"></datalist>
{% endblock %}
