{% extends "base.html" %}
{% block title %}Preferences{% endblock %}
{% block scripts %}
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.js"></script>
	<script src={{url_for("static", filename="js/index.js")}}></script>
{% endblock %}
{% block heading %}
	<h1>Welcome to Blue Bus Setup</h1>
	<p>
		Use this website to set up your preferences. Use the map or <a href="https://pts.umich.edu/transit/routes.php" target="_blank">the official bus schedule</a> to locate bus stops.
	</p>
{% endblock %}
{% block content %}
	<center>
		<iframe src="https://mbus.doublemap.com/map" height="650" width="80%" scrolling="no"></iframe>
	</center>
	<br></br>
<!--
	<div class="panel panel-default panel-body container">
	<h2>Current User Stops</h2>
	<table class="table table-striped table-hover " id="userFavorites" destination="">
		<thead>
			<tr>
				<th>Stop Alias</th>
				<th>Stop Name</th>
				<th>Stop Type</th>
			</tr>
		</thead>
		<tbody>
		</tbody>
	</table>
	</div>
	<div class="panel panel-default panel-body container">
		<h2 id="displayError"></h2>
		<div class="form-group">
		<form destination="" id="newHome">
		 	<label class="control-label" for="focusedInput">Home Stop</label>
	 		<input class="form-control" name="stopName" id="homeStopName" list="systemStops">
		 	<label class="control-label" for="focusedInput">Home Alias</label>
	 		<input class="form-control" name="stopAlias" type="text">
	 		<input type="hidden" name="alexaId" value={{ID}} class="disabled">
		</form>
		<input type="button" value="Submit" id="homeSubmit" class="btn btn-default">
		<form destination="" id="newDestination">
		 	<label class="control-label" for="focusedInput">Destination Stop</label>
	 		<input class="form-control" name="stopName" id="destinationStopName" list="systemStops">
		 	<label class="control-label" for="focusedInput">Destination Alias</label>
	 		<input class="form-control" name="stopAlias" type="text">
	  		<input type="hidden" name="alexaID" value={{ID}}>
	 		<input type="checkbox" name="primary" value="primary" class="checkbox">Make primary destination?<br>
		</form>
		<input type="button" value="Submit" id="destinationSubmit" class="btn btn-default">
		</div>
	</div>
	<div class="panel panel-default panel-body container">
	<form destination="" id=changePrimary>
	 	<label class="control-label" for="focusedInput">Current Primary Destination (Alias)</label>
 		<input class="form-control" id=primaryAlias type="text" list="userDestinations">
 		<input type="hidden" name="alexaID" value={{ID}}>
	</form>
	<input type="button" value="Submit" id="submitChangePrimary" class="btn btn-default">
	<form destination="" id=deleteFavorite>
	 	<label class="control-label" for="focusedInput">Delete Stop (Alias)</label>
 		<input class="form-control" id=deleteFavorite type="text" list="userStops">
 		<input type="hidden" name="alexaID" value={{ID}}>
	</form>
	<input type="button" value="Submit" id="submitDeleteFavorite" class="btn btn-default">
	<datalist id="userDestinations">
	</datalist>
	<datalist id="userStops">
	</datalist>
	</div>
-->
{% endblock %}
